@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next, .swiper-button-prev { color: write !important;  }

.swiper-pagination-bullet {
    opacity: .5 !important; 
}
.swiper-pagination-bullet-active {
    background: #ffffff !important;
}

